<% @subtabs = %w( all performed failure ) %>
<h1>HttpRequests</h1>
<%unless @data.empty?%>
  <form method="POST" action="<%= u(:http_request_status) %>/clear/all" class='clear-failed'>
    <input type='submit' name='' value='Clear All HttpRequests' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:http_request_status) %>/clear/performed" class='clear-failed'>
    <input type='submit' name='' value='Clear Performed HttpRequests' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
  <form method="POST" action="<%= u(:http_request_status) %>/clear/failed" class='clear-failed'>
    <input type='submit' name='' value='Clear Failed HttpRequests' onclick='return confirm("Are you absolutely sure? This cannot be undone.");' />
  </form>
<%end%>

<p class='intro'>These are recent jobs created with the Resque::Plugins::HttpRequest class</p>
<table>
  <tr>
    <th>class name</th>
    <th>method</th>
    <th>status</th>
    <th>date</th>
    <th style="width: 770px;">headers</th>
  </tr>
  <% unless @data.empty? %>
    <% @data.each do |status| %>
      <tr>
        <td><%= status["name"] %></td>
        <td><%= status["method"] %></td>
        <td><%= status["status"] %></td>
        <td><%#= status["response_headers"]["date"] %></td>
        <td><%= status["response_headers"] %></td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="7" class='no-data'>No Statuses right now...</td>
  </tr>
  <% end %>
</table>
<% unless @data.empty? %>
  <%= partial :next_more, :start => @start, :size => @size %>
<% end %>
<%= poll %>